* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Raleway', sans-serif;;
  background-color: 	#113f67; 
  color: #fff;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}